
@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inicio</h2>

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="Ingresar">

    <form>

        <h2>Inicia Sesion En Te Paseo A Tu Mascota</h2>

        <input type="text" placeholder="&#128101;Usuario" name="usuario" />
        <input type="password" placeholder="&#128272;Contraseña" name="clave" />
        <input type="submit" value="ingresar" />
        <a href="#">recordar contraseña0</a>
        <br />
        <a href="~/Registro.cshtml">registrarse</a>
     

    </form>


</div>
