
@{
    ViewData["Title"] = "Presenta";
}

<h2>Presenta</h2>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <h1>
        Paseo Express
        <br />
        by paseo mascota
    </h1>

    ¿Necesitas un paseador para hoy, para más al rato o regularmente? Nosotros te asignamos a un paseador por ti - No necesitas seguir buscando.
    <br />
    Todos los paseos están respaldados por nuestra Garantía, Soporte y Cobertura Veterinaria.
    <h1>
        Encuentra el Paquet Perfecto
    </h1>

<div class="Sombra">
    <form>
        <table cellpadding="15" border="0">
            <tr>
                <th>personaliza tu paquete</th>
            <tr></tr>

            <th><input type="checkbox" name="">
            <th>1 Paseo 30 min($80xpaseo)</th>
            <tr></tr>
            <th><input type="checkbox" name="">
            <th>5 Paseo 30 min($80xpaseo)</th>
            <tr></tr>
            <th><input type="checkbox" name="">
            <th>5 Paseo 30 min($80xpaseo)</th>
            <tr></tr>
            <th><input type="checkbox" name="">
            <th>5Paseo 30 min($80xpaseo)</th>
            <tr></tr>
            <th><input type="checkbox" name="">
            <th>10Paseo 30 min($80xpaseo)</th>
            <tr></tr>
            <th><input type="checkbox" name="">
            <th>10Paseo 30 min($80xpaseo)</th>
            <tr></tr>
            <th><input type="checkbox" name="">
            <th>20Paseo 30 min($80xpaseo)</th>
            <tr></tr>
            <th><input type="checkbox" name="">
            <th>20 Paseo 30 min($80xpaseo)</th>
            <tr></tr>

    </form>
           


    <table cellpadding="15" border="0">

        <thead><h1>Toda la informacion  </h1></thead>
        <tr></tr>
        <th>lalalalallllllllllllllllllll</th>
        <tr></tr>
        <th>lalalalallllllllllllllllllll</th>
        <tr></tr>
        <th>lalalalallllllllllllllllllll</th>
        <tr></tr>
        <th>lalalalallllllllllllllllllll</th>
        <tr></tr>
        <th>lalalalallllllllllllllllllll</th>
        <tr></tr>
        <th>lalalalallllllllllllllllllll</th>
        <tr></tr>
        <div><img style="float:left;" src="~/images/paseo mascotas4.jpg" />Texto a mostrar</div>

        <tr></tr>
        <div><img style="float:left;" src="~/images/facebook.png" />Todo lo mejor siemre</div>


    </table>