
@{
                /**/

                ViewData["Title"] = "Registro";
               
}

<h2>Registro</h2>

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<div class="Ingresar">
    <div class="form_top">
    </div>
    <form class="form_reg" action="">
        <input class="input" type="text" placeholder="&#128100;
               Nombre" required autofocus />
        <input class="input" type="email" placeholder="&#9993;
               Correo" required autofocus />
        <div class="btn_form">
            <input class="btn_submit" type="submit" value="registrar" />
            <input class="btn_submit" type="reset" value="Limpiar" />
        </div>



    </form>
</div>